button.dropbtn a {
    text-decoration: none;
    color: white;
}

.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

a {
    text-decoration: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.color-green {
    line-height: 40px;
    color: #02aa6d;
    margin: 0 5px;
}

.search-input {
    height: 40px;
    font-size: 18px;
    width: 65%;
    padding-left: 10px;
    border-top: 1px solid rgb(118, 118, 118);
    border-left: 1px solid rgb(118, 118, 118);
    border-bottom: 1px solid rgb(118, 118, 118);
    border-right: unset;
    padding-bottom: 1px !important;
}

.btn-search {
    color: #ffff;
    height: 40px;
    width: 85px;
    background-color: #04aa6d;
    border: 1px solid #04aa6d;
    margin-right: 10px;
    border-radius: 0px 8px 8px 0px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a,
#username-header {
    color: #3a3a3a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

.dropdown:hover .dropdown-content,
.tooltip:hover .dropdown-content {
    display: block;
}

.dropbtn a {
    color: white;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltiptext {
    width: 120px;
    background-color: #c3f7e4;
    color: black;
    font-size: 18px;
    border-radius: 6px;
    /* Position the tooltip */
    position: absolute;
    top: 120px;
    right: 10px;
}

ul {
    list-style: none;
}

#not-response {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#header {
    margin: 25px
}

.menu {
    width: 32vw;
}

.right {
    display: flex;
    width: 32vw;
    justify-content: flex-end;
}

.dropdown-content.user {
    right: 0px;
}

@media screen and (max-width: 750px) {
    #not-response {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
    }
    #header {
        margin: 25 0 25 0;
    }
    .dropbtn {
        padding: 8px;
        width: 70px;
        height: 40px;
    }
    .dropdown {
        margin-right: 10px;
    }
    .menu {
        text-align: center;
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-bottom: 10px;
    }
    .menu,
    .right {
        width: 100%;
    }
    .right {
        margin-top: 10px;
        justify-content: center;
    }
}

@media screen and (max-width:956px) and (min-width:751px) {
    .right {
        width: 38vw;
    }
    .search-input,
    .btn-search {
        height: 35px;
    }
    .btn-search {
        width: 64px
    }
    .dropbtn {
        padding: 8px;
    }
}

@media screen and (max-width:543px) {
    .filter {
        width: 50%;
    }
    .filter button.submit,
    .filter select {
        margin-top: 10px;
    }
    .filter select {
        margin-left: 45px !important;
    }
}


/* pop up css */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-header {
    padding: 2px 16px;
}


/* popup Body */

.popup-body {
    padding: 2px 16px;
}


/* popup Content */

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    min-width: fit-content;
}


/* The Close Button */

#close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-btn:hover,
#close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.img-slide img:hover {
    cursor: pointer;
}

select,
input#quantity {
    height: fit-content;
    padding: 10px;
}

button#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

button#myBtn:hover {
    background-color: #555;
}

@media screen and (max-width: 750px) {
    #home-table tr {
        display: grid;
    }
}