table {
    border-collapse: collapse;
    width: 100%;
    max-width: 80%;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}

tr:hover {
    background-color: #f5f7fa;
}

td {
    margin: 0;
    border: none;
}

.table td {
    vertical-align: middle !important;
}

td,
th {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px solid #ebeef5;
}

.total,
#total {
    text-align: right;
    color: red;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#cart_form {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0a9191;
}

#product-name {
    font-weight: bold;
}


/* input.update-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
} */

button.update-btn {
    background-color: #04aa6d;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

#checkout-form label {
    min-width: 130px;
    line-height: 40px;
}

#checkout-form input {
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
}

#checkout-form div {
    margin-bottom: 20px;
    display: flex;
}

#checkout-form {
    width: fit-content;
    margin: 0 auto;
}

.disable {
    background-color: #ebeef5 !important;
    color: #606266 !important;
}

.delete:hover {
    cursor: pointer;
}