#search {
    margin-bottom: 0px !important;
}

.custom_price {
    color: #000;
    font-weight: 600;
    font-size: 1.3em;
}

.item_price {
    display: none;
}

.btn-primary {
    margin: 5px 0;
    ;
}

.share_nav img {
    width: 30px;
}

.share_nav {
    display: flex;
    list-style: none;
}

.share_nav li {
    margin: 0 10px;
}

.product-info {
    display: inline-flex;
    padding: 0 10vw;
}

.custom_price {
    color: red;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-green {
    background-color: #04AA6D;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.left-panel {
    width: 45vw;
    padding-top: 60px;
}

.right-panel {
    width: 40vw;
}

.item-name {
    border-bottom: solid 1px grey;
    padding: 0 15px 15px 0;
    width: fit-content;
}

.del-price {
    color: #5f5d5d;
    font-weight: normal;
}

.img-slide img {
    max-width: 100px;
    margin: 10px 5%;
}

.img-slide {
    display: flex;
}

#highlight-img {
    width: 70%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-header {
    padding: 2px 16px;
}


/* popup Body */

.popup-body {
    padding: 2px 16px;
}


/* popup Content */

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    min-width: fit-content;
}


/* The Close Button */

#close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-btn:hover,
#close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.img-slide img:hover {
    cursor: pointer;
}

select,
input#quantity {
    height: fit-content;
    padding: 10px;
    width: 150px;
}